@font-face { 
    font-family: 'Roboto';
    src: url('Roboto-Medium.ttf');

}



h1
{
	text-align:left;
	font-size: 27px;
	color:rgb(255,255,255);
	font-family:Roboto;
	background-color: rgb(70,69,69);
	border:15px rgb(70,69,69) solid;
	opacity:1 ;
	padding: 12px;	
	margin: -10px;
	
}

.premier
{
	position: absolute;
width: 296px;
height: 145px;
left: 147px;
top: 192px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;

color: #000000;

}

.deuxieme
{
	position: absolute;
width: 719px;
height: 76px;
left: 622px;
top: 337px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;

color: #000000;

}

.circle {
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;

position: absolute;
width: 81px;
height: 79px;
left: 1001px;
top: 197px;

background: rgba(239, 187, 55, 0.77);
}




.triangle {
	position: absolute;
width: 100px;
height: 200px;
left: 276.77px;
top: 363px;

background: rgba(239, 187, 55, 0.77);
transform: rotate(29.85deg);
}

.circle2 {
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
position: absolute;
width: 81px;
height: 79px;
left: 1250px;
top: 441px;

background: rgba(81, 55, 239, 0.77);
}

.foot{
	text-align:center;
	font-family: Roboto;
	font-size: 20px;
	color: white;
	background-color: rgb(70,69,69);
	opacity:0.9;
	border:8px rgb(70,69,69) solid;
	padding: 12px;	
	 /*j'arrive pas à descendre la barre des contact*/
	
	
}


